<div class='containerDiv'>
    <h1 class='title'>Event</h1>
        <%= @events.each do |event| %> 
    
        <div class='eventContainerDiv'>
            <div class='eventItems'>
                <h3 class='event'><%= event.event %></h3>
                <div class='time'>
                    <h3 class='startTime'><%= event.start_time %> - </h3>
                    <h3 class='endTime'> <%= event.end_time %></h3>
                </div>
            </div>
            <div class='editDelete'>
                <p class='editLink'><%= link_to 'Edit', edit_event_path(event) %></p>
                <p class='deleteLink'><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></p>
            </div>
        </div>
    <% end %>

    <br>

    <%= link_to 'New Event', new_event_path %>
</div>